*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

body {
  background: linear-gradient(#ffffff, #d3d8e8);
}

#menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header {
  color: #fff;
  background: #3b5998;
  padding: 0 10rem 0 10rem;
  height: 5rem;
  border-bottom: 1px solid #133783;
}

header h1 {
  font-size: 2.5rem;
  padding: 2rem 1rem 2rem 1rem;
  font-weight: 700;
  line-height: 2rem;
}

table {
  margin: 10px 0 0 0;
  font-size: 12px;
  line-height: 16px;
}

table button {
  color: #fff;
  background: #4267b2;
  border: 1px solid #29487d;
  padding: 2px 5px 2px 5px;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}

table input {
  padding: 3px 3px 4px 3px;
  border: 1px solid #1d2a5b;
}

table td {
  padding: 0 0 0 14px;
}

#forgot {
  font-size: 12px;
  line-height: 16px;
  color: #9cb4d8;
  text-decoration: none;
}

section p {
  color: #0e385f;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
}

#content {
  display: flex;
  position: relative;
  margin-top: 40px;
}

#left {
  float: left;
  padding: 0 0 0 15%;
  width: 34%;
}

#right {
  float: right;
  width: 30%;
  margin-left: 100px;
}

#right h2 {
  font-weight: 600;
  font-size: 36px;
  color: #333333;
  line-height: 48px;
}

#right h3 {
  line-height: 25px;
  font-weight: 400;
  font-size: 19px;
  color: #1d2129;
  margin-top: 10px;
  margin-bottom: 15px;
}

#right label {
  color: #90949c;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

#right span {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #1d2129;
}

#politics {
  margin-top: 10px;
  font-size: 11px;
  line-height: 15px;
  color: #777;
  width: 85%;
  font-weight: 400;
  text-align: justify;
}

#politics a {
  text-decoration: none;
  color: #385898;
}

#submitBtn {
  width: 50%;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #fff;
  background: linear-gradient(#67ae55, #578843);
  border: 1px solid;
  border-color: #3b6e22 #3b6e22 #2c5115;
  text-shadow: 1px 1px 10px #000;
  box-shadow: inset 0 1px 1px #a4e388;
  border-radius: 5px;
  padding: 7px 20px 7px 20px;
}

#right input {
  font-size: 18px;
  color: #1c1e21;
  border: 1px solid #bdc7d8;
  border-radius: 7px;
  padding: 8px 10px 8px 10px;
  margin-bottom: 10px;
}

#userData input {
  width: 95%;
}

#fullName {
  display: flex;
  justify-content: space-between;
}

#fullName input {
  width: 43%;
}

#right select {
  font-size: 13px;
}

#daySelect,
#monthSelect,
#yearSelect {
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #ccd0d5;
}

#birthday {
  display: flex;
}

#gender input {
  margin-top: 10px;
  margin-left: 20px;
}

#createPage {
  font-size: 13px;
  line-height: 17px;
  font-weight: 700;
  color: #666666;
  margin-bottom: 40px;
  margin-top: 40px;
}

#createPage a {
  text-decoration: none;
  color: #385898;
}

footer {
  background: #fff;
  height: 150px;
  padding-top: 20px;
}

#translate {
  margin: 0 auto;
  width: 980px;
}

#translate a {
  text-decoration: none;
  line-height: 16px;
  font-size: 12px;
  padding: 5px;
  color: #385898;
}

#translate a:hover {
  text-decoration: underline;
}

#pt {
  color: #737373 !important;
  text-decoration: none !important;
}

#translate hr {
  margin-top: 10px;
  color: #dddfe2;
  margin-bottom: 10px;
}

.plus {
  cursor: pointer;
  border: 1px solid #ccd0d5;
  padding: 3px 12px 3px 12px;
}

#siteMap {
  margin: 0 auto;
  width: 980px;
}

#siteMap a {
  text-decoration: none;
  line-height: 16px;
  font-size: 12px;
  color: #385898;
  padding: 7px;
}

#siteMap a:hover {
  text-decoration: underline;
}

#copyright {
  font-size: 11px !important;
  line-height: 15px !important;
  color: #737373 !important;
}
