*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

body {
  background: linear-gradient(#ffffff, #d3d8e8);
  height: 100vh;
}

#menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header {
  color: #fff;
  background: #3b5998;
  padding: 0 10rem 0 10rem;
  height: 5rem;
  border-bottom: 1px solid #133783;
}

header h1 {
  font-size: 2.5rem;
  padding: 2rem 1rem 2rem 1rem;
  font-weight: 700;
  line-height: 2rem;
}

table {
  margin: 10px 0 0 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

table button {
  color: #fff;
  background: #4267b2;
  border: 1px solid #29487d;
  padding: 2px 5px 2px 5px;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}

table input {
  padding: 3px 3px 4px 3px;
  border: 1px solid #1d2a5b;
}

table td {
  padding: 0 0 0 14px;
}

#forgot {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #9cb4d8;
  text-decoration: none;
}

section p {
  color: #0e385f;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
}

#content {
  display: flex;
  position: relative;
  margin-top: 40px;
}

#left {
  float: left;
  padding: 0 0 0 15%;
  width: 34%;
}

#right {
  float: right;
  width: 30%;
  margin-left: 100px;
}

#right h2 {
  font-weight: 600;
  font-size: 36px;
  color: #333333;
  line-height: 48px;
}

#right h3 {
  font-weight: 400;
  line-height: 25px;
  font-size: 19px;
  color: #1d2129;
}

#right label {
  color: #90949c;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

#right span {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #1d2129;
}

#politics {
  font-size: 11px !important;
  line-height: 15px !important;
  color: #777 !important;
}

#submitBtn {
  width: 50%;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #fff;
  background: linear-gradient(#67ae55, #578843);
  border: 1px solid;
  border-color: #3b6e22 #3b6e22 #2c5115;
  text-shadow: 1px 1px 10px #000;
  box-shadow: inset 0 1px 1px #a4e388;
  border-radius: 5px;
  padding: 7px 20px 7px 20px;
  margin: 10px 0 10px 0;
}
