*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue",
    sans-serif;
}

main {
  background: url("../img/0ffd8594-f123-43f0-85bb-7ef88c6f0624.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100vw auto;
}

svg {
  color: white;
  font-size: 34px;
  padding: 24px;
}

main div {
  display: flex;
  justify-content: space-between;
}

#linksList {
  display: flex;
  align-items: center;
  list-style: none;
  height: 80px;
}

#linksList li {
  padding: 23px 8px 23px 8px;
  margin: 0 12px 0 12px;
  border-bottom: 2px solid transparent;
}

#linksList li:hover {
  border-bottom: 2px solid white;
}

.menuLinks {
  text-decoration: none;
  color: white;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
}

#findForm {
  background: white;
  border-radius: 5px;
  height: 450px;
  width: 380px;
  margin-left: 80px;
  margin-top: 60px;
  padding: 30px;
}

#findForm h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #484848;
}

#findForm label {
  font-weight: 600;
  font-size: 14px;
  color: #484848;
  margin-bottom: 5px;
  margin-top: 16px;
}

#formInputs {
  display: flex;
  flex-direction: column;
}

#formInputs input {
  font-size: 17px;
  color: #000;
  padding: 0 12px 0 12px;
  height: 48px;
  border: 1px solid #ebebeb;
  border-radius: 5px;
}

.dateForms {
  flex-direction: column;
  width: 50%;
}

.dateForms input {
  color: #737373 !important;
}

#formInputs button {
  padding: 10px 22px 10px 22px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  color: white;
  background: #ff5a5f;
  border: none;
  border-radius: 5px;
  width: 25%;
}

#paragraph {
  margin-left: 80%;
  width: 220px;
  text-align: right;
  padding: 20px;
  color: white;
  font-size: 14px;
  line-height: 20px;
}

section {
  margin: 15px 80px 0 80px;
}

#explorer {
  margin-bottom: 50px;
}

#explorer h4 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 800;
  color: #484848;
}

#miniCards {
  display: flex;
  justify-content: space-around;
}

#miniCards a {
  width: 380px;
  margin: 20px 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  border: 1px solid #e6e6e6;
  border-radius: 12px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

#miniCards img {
  width: 120px;
  border-radius: 10px 0px 0px 10px;
}

#miniCards span {
  margin: 10px;
  color: #484848;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

#adventures {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

#adventuresA {
  margin-top: 30px;
  font-size: 17px;
  font-weight: 600;
  line-height: 22px;
  color: #008489;
  text-decoration: none;
}

#adventuresA:hover {
  text-decoration: underline #008489;
}

#adventures h3 {
  font-size: 24px;
  line-height: 30px;
  color: #484848;
  font-weight: 800;
}

#adventuresParagraph {
  width: 550px;
  font-size: 16px;
  line-height: 22px;
  color: #484848;
  margin-bottom: 25px;
}

#adventuresCards {
  display: flex;
}

#adventuresCards a {
  text-decoration: none;
  margin: 0 10px 0 10px;
}

#adventuresCards a:hover {
  text-decoration: none;
}

#adventuresCards img {
  width: 220px;
  height: 300px;
  border-radius: 10px;
}

#adventuresCards h4 {
  font-size: 12px;
  line-height: 16px;
  color: #222;
}

#adventuresCards p {
  margin: 10px 0 10px 0;
  font-size: 16px;
  line-height: 20px;
  color: #222;
}

#adventuresCards span {
  font-size: 14px;
  line-height: 18px;
  color: #222;
}
