*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue",
    sans-serif;
}

main {
  background: url("../img/0ffd8594-f123-43f0-85bb-7ef88c6f0624.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

svg {
  color: white;
  font-size: 34px;
  padding: 24px;
}

main div {
  display: flex;
  justify-content: space-between;
}

#linksList {
  display: flex;
  align-items: center;
  list-style: none;
  height: 80px;
}

#linksList li {
  padding: 23px 8px 23px 8px;
  margin: 0 12px 0 12px;
  border-bottom: 2px solid transparent;
}

#linksList li:hover {
  border-bottom: 2px solid white;
}

.menuLinks {
  text-decoration: none;
  color: white;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
}

#findForm {
  background: white;
  border-radius: 5px;
  height: 500px;
  width: 400px;
  margin-left: 80px;
  margin-top: 60px;
  padding: 30px;
}

#findForm h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #484848;
}

#findForm label {
  font-weight: 600;
  font-size: 14px;
  color: #484848;
  margin-bottom: 5px;
  margin-top: 16px;
}

#formInputs {
  display: flex;
  flex-direction: column;
}

#formInputs input {
  font-size: 17px;
  color: #000;
  padding: 0 12px 0 12px;
  height: 48px;
  border: 1px solid #ebebeb;
  border-radius: 5px;
}

#formInputs button {
  padding: 10px 22px 10px 22px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  color: white;
  background: #ff5a5f;
  border: none;
  border-radius: 5px;
  width: 25%;
}
